.logo{
    background-size: cover;
    width: 4%;
    margin-right: 8px;
}

.logo-name{
    background-size: cover;
    width: 6%;
    margin-right: 30px;
}

@media screen and (max-width: 991px){
    .logo-name{
        display: none;
    }

    .logo, .logo-name{
        margin-right: 0;
    }
}